<p class="red-social p-0 m-0">
  <a href="https://www.facebook.com/Dfrontend" target="_blank"><i class="uil uil-facebook"></i></a>
  <a href="https://github.com/Huansha13" target="_blank"><i class="uil uil-github"></i></a>
  <a href="https://gitlab.com/Yefer13" target="_blank"><i class="uil uil-gitlab"></i></a>
  <a href="https://www.linkedin.com/in/yefer-frank-huansha-leyva-5248a91ba/" target="_blank"><i
    class="uil uil-linkedin"></i></a>
  <a href="https://www.youtube.com/channel/UCFsfSQ8omAmJHhEZFrgqXaA" target="_blank"><i
    class="uil uil-youtube"></i></a>
</p>
