<div class="wrapper">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-5">
      <div class="h-full flex flex-column justify-content-center">
        <div>
          <h2 class="font-bold m-0  text-5xl md:text-6xl">Un poco</h2>
          <h2 class="flex flex-1 align-items-center font-bold m-0 text-7xl lg:text-8xl">Sobre Mi</h2>
        </div>
        <p class="m-0 p-0 text-nomal text-gray-500 line-height-3">{{ data?.descripcion }}</p>
      </div>
    </div>
    <div class="col-12 md:col-12 lg:col-3">
      <div class="flex flex-column gap-2">
        @for (item of dataHabilidadesResumen; track item) {
          <div class="shadow-1 flex flex-column justify-content-between border-1 border-50 p-3 h-full w-full border-round-2xl">
            <div class="flex flex-column text-balancer gap-3">
              <i class="{{item.icon}} text-4xl text-gray-300"></i>
              <div class="flex flex-column gap-1">
                <h3 class="font-medium m-0 p-0 text-lg">{{ item.label }}</h3>
                <p class="text-sm text-gray-500 p-0 m-0">{{ item.description }}</p>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="flex flex-column h-full relative">
        <img alt="mi-foto" src="../../../assets/img/mi-foto.webp" class="w-full img-mi-foto border-round-2xl"/>
        <article class="absolute p-3 bottom-0 w-full  border-round-2xl border-noround-top info-text-img text-white">
          <div class="items-about-me mt-2">
            <ul>
              <li class="text-sm flex align-items-center gap-2">
                <i class="uil uil-check-circle"></i> <b>Edad Actual: </b> {{ 2024 - 1996 }}
              </li>
              <li class="text-sm flex align-items-center gap-2">
                <i class="uil uil-check-circle"></i> <b>Ubicación: </b>
                <a style="color: #fff" href="https://www.google.com/maps/@-11.0685039,-77.5955422,19z"
                   target="_blank">{{ data?.ubicacion }}</a>
              </li>
              <li class="text-sm flex align-items-center gap-2">
                <i class="uil uil-check-circle"></i> <b>Stack Preferido: </b> {{ data?.stack }}
              </li>
              <li class="text-sm flex align-items-center gap-2">
                <i class="uil uil-check-circle"></i> <b>Intereses: </b> {{ data?.interes }}
              </li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
