<div class="container">
  <div class="background-contact">
    <div class="info-contact">
      <div class="wrap">
        <div class="title"> Contact <b>ME...</b></div>
        <p>For any enquiries, or just to say hello, get in touch </p>
      </div>
      <div class="wrap-info">
        <div class="wrap-info-1">
          <div class="phone">
            <span><i class="uil uil-mobile-vibrate"></i> Phone</span>
            <p>+51 944 519 328</p>
          </div>
          <div class="address">
            <span><i class="uil uil-location-point"></i> Address</span>
            <p>Lima - Huacho, Perú</p>
          </div>
        </div>
        <div class="wrap-info-2">
          <div class="Enquiries">
            <span><i class="uil uil-message"></i> Enquiries</span>
            <p><a href="mailto:yfhl.contact@gmail.com">yfhl.contact@gmail.com</a></p>
          </div>
          <div class="Follow-us">
            <span><i class="uil uil-mouse-alt"></i> Follow us</span>
            <p class="links">
              <a href="#">Fb</a>
              <a href="#">In</a>
              <a href="#">Git</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section-img">
      <img src="https://res.cloudinary.com/yfr/image/upload/v1615150745/portafolio/static/contact_jtekri.svg" alt="">
    </div>
  </div>
</div>
