<div class="container">
  <div class="background-contact">
    <div class="info-contact">
      <div class="wrap">
        <div class="title"> Contact <b>ME...</b></div>
        <p>For any enquiries, or just to say hello, get in touch </p>
      </div>
      <div class="wrap-info" *ngFor="let contact of contacts$ | async">
        <div class="wrap-info-1">
          <div class="phone">
            <span><i class="uil uil-mobile-vibrate"></i> Phone</span>
            <p>+51 {{contact.phone}}</p>
          </div>
          <div class="address">
            <span><i class="uil uil-location-point"></i> Address</span>
            <p>{{contact.address}}</p>
          </div>
        </div>
        <div class="wrap-info-2">
          <div class="Enquiries">
            <span><i class="uil uil-message"></i> Enquiries</span>
            <p><a href="mailto:yfhl.contact@gmail.com">{{contact.email}}</a></p>
          </div>
          <div class="Follow-us">
            <span><i class="uil uil-mouse-alt"></i> Follow us</span>
            <p class="links">
              <a href="https://www.facebook.com/Dfrontend" target="_blank">Fb</a>
              <a href="https://www.linkedin.com/in/yefer-frank-huansha-leyva-5248a91ba/" target="_blank">In</a>
              <a href="https://github.com/Huansha13" target="_blank">Git</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section-img">
      <img src="https://res.cloudinary.com/yfr/image/upload/v1615150745/portafolio/static/contact_jtekri.svg" alt="">
    </div>
  </div>
</div>
