<p class="m-0 p-0">Mis Habilidades</p>
<h2 class="font-bold pt-0 mt-0 text-5xl md:text-6xl">Tecnológicas</h2>

<div class="sec-columns">
  @for (item of dataHabilidades; track item) {
    <div class="item-column shadow-1 flex flex-column border-1 border-50 p-3 h-full w-full border-round-2xl">
      <h4 class="m-0 p-0">{{ item.nombre }} </h4>
      <div class="flex flex-wrap gap-2 mt-2">
        @for (tecnologia of item.tecnologia; track tecnologia) {
          <p-chip [icon]="tecnologia.icon" [label]="tecnologia.label" [alt]="tecnologia.label" styleClass="text-sm"/>
        }
      </div>
    </div>
  }
</div>
