<!-- Section presentation -->
<div class="wrapper">
<!--  <app-nav-main></app-nav-main>-->
  <div class="wrap-presentation">
    <div class="section-1">
      <div class="email animate__animated animate__bounce" *ngFor="let home of homes">
        <i class="uil uil-at"></i>
        <span><a class="mailto" href="mailto:{{home.correo}}">{{home.correo}}</a></span>
      </div>
      <div class="section-info">
        <div class="title">
          <div class="span">
            <div class="tw"></div>
            <div class="txt-bolt tw2"></div>
          </div>
        </div>
        <div class="description animate__animated animate__fadeInDown" *ngFor="let home of homes">
          <p> {{home.descripcion}} </p>
        </div>
      </div>
      <div class="cv animate__animated animate__jackInTheBox" *ngFor="let home of homes">
        <a href="{{home.linkCv}}" target="_blank">
          <span> DESCARGAR C.V &nbsp; <i class="uil uil-cloud-download"></i></span>
        </a>
      </div>
    </div>
    <div class="section-2 animate__animated  animate__jackInTheBox">
      <img src="https://res.cloudinary.com/yfr/image/upload/v1614625116/portafolio/static/img1_tunczy.svg" alt="img-1">
    </div>
  </div>
  <div class="red-social animate__animated animate__slideInUp" >
    <a href="https://www.facebook.com/Dfrontend" target="_blank"><i class="uil uil-facebook"></i></a>
    <a href="https://github.com/Huansha13" target="_blank"><i class="uil uil-github"></i></a>
    <a href="https://gitlab.com/Yefer13" target="_blank"><i class="uil uil-gitlab"></i></a>
    <a href="https://www.linkedin.com/in/yefer-frank-huansha-leyva-5248a91ba/" target="_blank"><i class="uil uil-linkedin"></i></a>
    <a href="https://www.youtube.com/channel/UCFsfSQ8omAmJHhEZFrgqXaA" target="_blank"><i class="uil uil-youtube"></i></a>

  </div>
</div>
<!-- end presentation-->

<!-- Section About-->
<div class="wrapper-about" id="about">

  <div class="wrap-about" *ngFor="let ab of about" >
    <div class="section-1">
      <img src="{{ab.fotoPerfil}}" alt="foto-peril">
    </div>
    <div class="section-2">
      <div class="title">
        SOBRE MI...
      </div>
      <div class="description">
        <p>{{ab.descripcion}}</p>
      </div>
      <div class="items">
        <ul>
          <li><i class="uil uil-check-circle"></i> &nbsp; <b>Edad Actual: </b> &nbsp; {{ab.edad}}</li>
          <li><i class="uil uil-check-circle"></i> &nbsp; <b>Ubicación: </b> &nbsp; {{ab.ubicacion}}</li>
          <li><i class="uil uil-check-circle"></i> &nbsp; <b>Stack Preferido: </b> {{ab.stack}}</li>
          <li><i class="uil uil-check-circle"></i> &nbsp; <b>Intereses: </b> &nbsp; {{ab.interes}}</li>
          <li><i class="uil uil-check-circle"></i> &nbsp; <b>Competencias: </b> &nbsp; {{ab.competencia}}</li>

        </ul>
      </div>
    </div>
  </div>

</div>
<!--end About-->

<!--my abilities-->
<div class="wrap-abilities" id="abilities">
  <div class="title-abilities">
    <div class="m-h">
      [ Mis habilidades ]
    </div>
  </div>
  <div class="wrapper-abilities">
    <div class="space">
      <div class="solo-boxs">
        <div class="section-1">
          <div class="box" *ngFor=" let abi of  abilities" >
            <div class="logo-name">
              <div class="logo"><img src="{{abi.icono}}" alt="logo"> </div>
              <div class="name">{{abi.nombre}}</div>
            </div>
            <div class="progress" >
              <div class="progress-content" [ngStyle]="{'background': abi.color, 'width':2 * abi.porcentaje + 'px'}"></div>
            </div>
            <div class="description">
              <div class="percentage"> {{abi.porcentaje}}% </div>
              <div class="detail">{{detail}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-2 ">
        <div class="box" *ngFor="let item of abiliSec">
          <div class="icon-title">
            <div class="icon"> <span [innerHTML]="item.icono"></span> </div>
            <div class="title"> {{item.nombre}} </div>
          </div>
          <div *ngFor="let item of item.tec" class="sec-tec">
            <div class="name-percentage">
              <div class="name">{{item.nombre}}</div>
              <div class="percentage">{{item.porcentaje}}%</div>
            </div>
            <div class="progress">
              <div class="progress-content" [ngStyle]="{'background': item.color, 'width':3.4 * item.porcentaje + 'px'}" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="info">
    <span><i class="uil uil-rocket"></i></span> &nbsp;
    <span>Aprendiendo nuevas tecnologías...</span>
  </div>
</div>
<!--end abilities-->

<!--my projects-->
<div class="wrapper-projects" id="projects">

  <div class="title" style="margin-top: 48px;"> [ Proyectos ] </div>
<!--  <div class="heading">-->
<!--    <div class="label">Filtar</div>-->
<!--    <div class="section">-->
<!--      <span *ngFor="let item of [1,1,1,1,1]">Nuevo <span>05</span> </span>-->
<!--    </div>-->
<!--    <div class="btn">-->
<!--      <label>-->
<!--        <select name="select">-->
<!--          <option value="value1">Value 1</option>-->
<!--          <option value="value2" selected> Todo </option>-->
<!--          <option value="value3">Value 3</option>-->
<!--        </select>-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->
  <hr>
  <div class="content-project">
    <div class="section">
      <div class="row">
        <div class="row-item col-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let i of project">
          <div class="item-p">
            <div class="img">
              <div class="recurs">
                <ul *ngFor="let i of i.recurso">
                  <li><img [src]="i.logo" alt=""></li>
                </ul>
              </div>
              <img [src]="i.portada" alt="">
            </div>
            <div class="section-info">
              <div class="item-info">
                <div class="title">{{i.titulo}}</div>
                <div class="description"> {{i.fecha}} </div>
              </div>
              <div class="icons">
                <a [href]="i.url" target="_blank" *ngFor="let i of i.link">
                  <span [innerHTML]="i.icono"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<!--end projects-->

<div class="section__background">
  <!-- section service-->
  <div class="service" id="services">
    <span class="title__section">[ Mis servicios ]</span>
    <div class="service__item">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="service__item__box">
            <div class="service__item__title">
              <span class="icon"><i class="uil uil-pathfinder"></i></span> &nbsp; <span class="name">Prototipado</span>
            </div>
            <div class="service__item__description">
              Modelo de Apps, interactivas y agradable.
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="service__item__box">
          <div class="service__item__title">
          <span class="icon">
            <i class="uil uil-arrow"></i>
          </span> &nbsp;
            <span class="name">Desarrollo Frontend</span>
          </div>
          <div class="service__item__description">
            Maquetación de paginas responsivas.
          </div>
        </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="service__item__box">
          <div class="service__item__title">
            <span class="icon"><i class="uil uil-server-connection"></i></span> &nbsp; <span class="name">Desarrollo Backend</span>
          </div>
          <div class="service__item__description">
            API REST con Node JS, y Spring Boot.
          </div>
        </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="service__item__box">
          <div class="service__item__title">
            <span class="icon"><i class="uil uil-laptop"></i></span> &nbsp; <span class="name">Soporte de Proyectos</span>
          </div>
          <div class="service__item__description">
            Optimizacion y Soluciones de Codigo.
          </div>
        </div>
        </div>




      </div>
    </div>
  </div>
  <!-- end service  -->

  <div class="certificate" id="certificates">
    <div class="certificate_background">
      <div class="title__section">
        [ Certificados ]
      </div>
      <div class="certificate__item">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let item of cerfificado">
            <a [href]="item.url" target="_blank" class="crf__item__box">
              <div class="crf__logo__emp">
                <img [src]="item.logo" alt="">
              </div>
              <div class="emp_info">
                <div class="name__emp"> {{item.titulo}}</div>
                <span class="crf_description">{{item.descripcion}}</span>
                <div class="cerficate_fecha">
                  {{item.fecha}}
                </div>
              </div>
            </a>
          </div>
<!--          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ver" style="margin: auto;">-->
<!--            <a class="ver__todo" href="#"> <span><i class="uil uil-arrow-right"></i></span> Ver todo</a>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<!-- wsp -->
<section>
  <jjva-ngx-whatsapp-button
    [ngx_whatsapp_phone]="phone" [ngx_whatsapp_text]="msm">
  </jjva-ngx-whatsapp-button>
</section>
