@if (settings.isThemeDark && settings.view.lg) {
  <section style="position: relative; overflow: hidden;">
    <img id="mibgFondo" src="../../../assets/img/bg-fondo.svg" class="bg-img">
  </section>
}

<!-- Section presentation -->
@if (settings.view.lg) {
  <div class="container px-3 lg:px-0 flex-1 h-auto lg:h-full flex align-items-center">
    <app-presentacion [data]="data?.home"></app-presentacion>
  </div>
}

<!-- Animate-Background -->
@if (settings.view.lg) {
   <app-animated-background></app-animated-background>
}
<!--Sobre Mi-->
<section class="px-3 lg:px-0 mb-8">
  <div class="container z-5">
    <app-sobre-mi [data]="data?.about"></app-sobre-mi>
  </div>
  @if (!settings.view.lg) {
    <app-animated-background></app-animated-background>
  }</section>

<!--Mis habilidades-->
<section class="px-3 lg:px-0 mt-8 mb-8">
  <div class="container z-5">
    <app-habilidades></app-habilidades>
  </div>
</section>

<!--Proyectos-->
<section class="px-3 lg:px-0 pt-8 pb-8 surface-50">
  <div class="container z-5">
    <p-card>
      <app-proyectos></app-proyectos>
    </p-card>
  </div>
</section>

<p-divider></p-divider>

<app-footer></app-footer>
