$color-bt-1: #2DA9DD;

$color-tx-1: #fff;
$color-tx-2: #fff;
$color-tx-3: #cecece;
$color-tx-4: #808080;
$color-tx-4: #B8B8B8;


$color-bac-1: #FBFBFB;
$color-bac-2: #F8F8F8;

$color-progress-fond: #EFEFEF;
$color-primary: #17212D;

$colo-blaco-bajo: #B8B8B8;


:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

//general
.title__section {
  font-size: 25px;
  font-weight: 500;
  color: $color-tx-1;
}

//section presentation
.wrapper {
  max-width: 1179px;
  margin: auto;
  min-height: 100vh;
}

.wrap-presentation {
  transition: all .4s ease-out;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;

  .section-1 {
    max-width: 555px;

    .email {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 1rem;

      i {
        margin-right: 5px;
        color: $color-tx-1;
        font-size: 1.125rem;
      }

      span {
        color: $color-tx-3;
        line-height: 30px;
      }
    }

    .section-info {
      .title {
        min-height: 140px;
        //font-family: $font-2;
        .span {
          color: $color-tx-1;
          font-size: 3.125rem;
          line-height: 70px;
          font-weight: 500;

          .txt-bolt {
            font-weight: 700;
          }
        }
      }

    }


  }

  .section-2 {
    img {
      max-width: 610px;
      width: 100%;
    }
  }
}

.red-social {
  display: flex;
  margin-top: 60px;
  justify-content: center;

  a {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    color: var(--primary-100);
    text-decoration: none;
    border-radius: 100%;
    text-align: center;

    i {
      color: var(--text-color);
      font-size: 18px;
      display: grid;
      align-content: center;
      height: 100%;
    }

    &:hover {
      transition: .5s;
      background: var(--primary-600);

      i {
        color: var(--primary-color-text);
      }
    }

    &:active {
      transition: .5s;
      background: var(--primary-700);

      i {
        color: var(--primary-color-text);
      }
    }
  }
}

.btn-portafolio {
  align-items: center;

  a {
    max-width: 250px;
    text-decoration: none;
    border-radius: 150px;
    padding: 1rem 3rem;
    font-weight: 500;
    background: var(--primary-100);
    color: var(--primary-900);

    &:hover {
      transition: .5s;
      border: 1px solid var(--primary-500);
      color: var(--primary-500);
      background: transparent;
    }

    &:active {
      transition: .5s;
      background: var(--primary-900);
    }
  }
}

.description {
  p {
    color: white;
    font-weight: 400;
    line-height: 40px;
    //font-family: $font-2;
    .desp-bolt {
      color: $color-tx-1;
    }
  }
}

.swipe-down {
  margin-top: 100px;
  text-align: center;
  cursor: pointer;

  i {
    border-radius: 5px;
    font-size: 50px;
    color: $color-tx-1;

    &:hover {
      transition: .5s;
      background: rgba(11, 19, 42, 0.1);
    }

    &:active {
      transition: .5s;
      background: rgba(11, 19, 42, 0.2);
    }
  }
}

// end presentation

/*------------------------------------------*/
.sec-tec {
  margin-bottom: 15px;
}

// section about.interface.ts
.mailto {
  text-decoration: none;
  color: var(--text-color);
}

.wrapper-about {
  max-width: 1179px;
  margin: auto;
  padding-top: 70px;

  .wrap-about {
    margin-right: 15px;
    margin-left: 15px;
    //margin-top: 130px;
    display: flex;

    .section-1 {
      img {
        max-width: 468px;
      }
    }

    .section-2 {
      margin-left: 100px;

      .title {
        color: $color-tx-1;
        font-size: 1.563rem;
        font-weight: 500;
        line-height: 50px;
      }

      .description {
        p {
          color: $color-tx-1;
          font-size: 1rem;
          font-weight: 400;
          line-height: 30px;
        }
      }

      .items {
        ul {
          margin: 0;
          padding: 0;

          li {
            color: $color-tx-1;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 30px;
            list-style: none;
            flex: 1;
            display: list-item;
            margin-bottom: 10px;

            i {
              font-size: 20px;
              color: #2FAB73;
              vertical-align: middle;
            }

            b {
              color: $color-tx-1;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

// end about.interface.ts

/*------------------------------------------*/

// section abilities
.wrap-abilities {
  max-width: 1100px;
  margin: auto;

  .title-abilities {
    font-weight: 500;
    font-size: 1.563rem;
    padding-left: 10px;
    color: $color-tx-1;

    .m-h {
      margin-top: 88px;
    }
  }

  .wrapper-abilities {
    margin-top: 10px;
    overflow-y: hidden;
    padding: 10px 10px 10px;

    .space {
      display: flex;

      .solo-boxs {
        .section-1 {
          display: flex;
          width: 740px;
          flex-wrap: wrap;
          margin-bottom: 25px;

          .box {
            width: 230px;
            background: #1E2833;
            box-shadow: 0 0 2px rgba(222, 222, 222, 0.24);
            border-radius: 5px;
            padding: 15px;
            margin-right: 15px;
            margin-bottom: 15px;
            //&:last-child {
            //  margin-right: 0;
            //}
            .logo-name {
              display: flex;
              align-items: center;
              vertical-align: middle;

              .logo {
                img {
                  display: flex;
                  margin: auto;
                  width: 30px;
                }
              }

              .name {
                margin-left: 5px;
                font-weight: 500;
                font-size: 16px;
                color: $color-tx-1;
              }
            }

            .progress {
              background: rgba(239, 239, 239, 0.03);
              height: 20px;
              border-radius: 100px;
              margin: 12px 0;

              .progress-content {
                background: #E23237;
                height: 20px;
                width: 70px;
                border-radius: 100px;
              }

            }

            .description {
              display: flex;
              align-items: center;

              .percentage {
                font-weight: 500;
                font-size: 18px;
                color: $color-tx-1;
                border-right: 2px solid $color-tx-3;
                margin-right: 9px;
                padding-right: 9px;
              }

              .detail {
                font-weight: 400;
                font-size: 12px;
                color: $color-tx-3;
              }
            }
          }

        }
      }

      .section-2 {
        width: 370px;
        //margin-left: 15px;
        .box {
          margin-bottom: 15px;
        }

        .box .icon-title {
          display: flex;
          align-items: center;
          margin-bottom: 5px;

          .icon {
            font-size: 22px;
            font-weight: 500;
            color: $color-tx-2;
          }

          .title {
            margin-left: 5px;
            font-weight: 500;
            font-size: 13px;
            color: $color-tx-2;
          }
        }

        .box .name-percentage {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          margin-bottom: 3px;

          .name {
            color: $color-tx-3;
            font-weight: 400;
            font-size: 13px;
          }

          .percentage {
            font-weight: 400;
            font-size: 10px;
            color: $color-tx-1;
          }
        }

        .box .progress {
          width: 100%;
          height: 8px;
          background: rgba(196, 196, 196, 0.24);
          border-radius: 100px;

          .progress-content {
            width: 148px;
            height: 8px;
            background: #CA3132;
            border-radius: 100px;
          }
        }
      }
    }

  }

  .info {
    margin-top: 20px;
    text-align: center;

    span {
      font-weight: 400;
      font-size: 15px;
      color: $color-tx-3;
    }
  }
}

// end abilities

/*------------------------------------------*/

//section project
.wrapper-projects {
  max-width: 1100px;
  margin: auto;
  padding-left: 10px;

  .title {
    font-weight: 500;
    font-size: 1.563rem;
    color: $color-tx-1;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

    .label {
      color: $color-tx-1;
      font-weight: 500;
      font-size: 15px;
      display: none;
    }

    .section {
      span {
        font-weight: 400;
        font-size: 14px;
        color: $color-tx-3;
        margin-right: 13px;

        span {
          font-weight: 300;
          color: #A6A6A6;
          margin-left: 2px;
          font-size: 11px;
        }
      }

    }

    .btn {
      margin: 5px;

      label {
        width: 140px;
        font-size: 13px;
        padding: 7px;
        color: $color-tx-3;
        background: $color-tx-3;
        box-sizing: border-box;
        border-radius: 2px;

        select {
          border: none;
          font-size: 14px;
          padding: 1px;
          background: $color-tx-3;
          color: #1E2833;
          outline: none;
        }
      }
    }
  }

  hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .content-project {
    .section {
      .row {
        .row-item {
          margin-bottom: 15px;

          .item-p {
            border: 1px solid rgba(229, 229, 229, 0.03);
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.03);

            .img {
              img {
                width: 100%;
                border-radius: 5px 5px 0 0;
              }

              .recurs {
                display: flex;
                position: absolute;
                filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
                margin-left: 10px;

                ul {
                  margin: 0;
                  padding: 0;

                  li {
                    list-style: none;
                    z-index: 100;
                    position: relative;
                    margin-right: -10px;
                  }

                  &:last-child {
                    margin-right: 0;
                  }

                  img {
                    width: 27px;
                    height: 40px;
                  }
                }
              }
            }

            .section-info {
              padding: 5px 15px;
              align-items: center;
              display: flex;
              justify-content: space-between;

              .item-info {
                .title {
                  font-size: 12px;
                  font-weight: 500;
                  color: $color-tx-1;
                }

                .description {
                  margin-top: 5px;
                  font-weight: 400;
                  font-size: 11px;
                  color: #B8B8B8;
                }
              }

              .icons {
                font-size: 24px;

                a {
                  cursor: pointer;
                  color: $color-tx-1;
                  text-decoration: none;

                  &:hover {
                    transition: .5s;
                    color: #2DA9DD;
                  }
                }
              }
            }
          }
        }

      }
    }
  }

}

//end project
/*-------------------------------------------*/

//section services
.section__background {
  background: rgba(251, 251, 251, 0.03);
  margin-top: 60px;
  padding-top: 60px;
}

.service {
  max-width: 1100px;
  margin: auto;
  padding: 10px;
}

.service__item {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;

  .row {
    margin: 0;
    padding: 0;

    .col-12, .col-sm-12, .col-md-6, .col-lg-3 {
      padding-right: 15px;
    }
  }
}

.service__item__box {
  background: $color-primary;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px 9px;
  margin-bottom: 10px;
}

.service__item__title {
  display: flex;
  align-items: center;

  .icon {
    font-size: 27px;
    color: $color-tx-1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .name {
    color: $color-tx-1;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
  }
}

.service__item__description {
  font-weight: 300;
  font-size: 14px;
  color: $color-tx-3;
  margin-left: 5px;
  margin-top: 5px;
}

//end services

//section certificates
.certificate {
  max-width: 1100px;
  margin: auto;
  padding: 100px 10px 10px;
  position: relative;
}

.certificate_background {
  background: $color-primary;
  padding: 20px;
  position: absolute;
}

.certificate__item {
  margin-top: 30px;

  .row, .col-12, .col-sm-12, .col-md-6, .col-lg-4 {
    margin: 0;
    padding: 0;
  }
}

.crf__item__box {
  padding: 10px 13px;
  background: rgba(251, 251, 251, 0.03);
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 111px;

  .crf__logo__emp {
    margin-right: 15px;

    img {
      padding: 10px;
      background: rgba(255, 255, 255, 0.03);
      border: 0.5px solid rgba(229, 229, 229, 0.05);
      border-radius: 100%;
      width: 70px;
      height: 70px;
    }
  }

  .emp_info {
    .name__emp {
      font-weight: 500;
      font-size: 18px;
      color: $color-tx-1;
    }

    .crf_description {
      font-weight: 400;
      font-size: 11px;
      color: $color-tx-3;
    }

    .cerficate_fecha {
      font-weight: 400;
      font-size: 9px;
      text-transform: uppercase;
      text-align: right;
      color: #808080;
      margin-top: 10px;
    }
  }

  &:hover {
    transition: .5s;
    background: #252E39;
    //box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
}

.ver {
  text-align: center;

  a:hover {
    transition: .5s;
    color: #2DA9DD;
  }
}

.ver__todo {
  width: 100%;
  height: 100%;
  color: $color-tx-1;
  font-size: 15px;
  text-decoration: none;
  outline: none;
  padding: 5px;
}

//end certificates

/*------------------------------------------*/
//mobile iPad
@media (max-width: 768px) {

  .wrap-abilities .wrapper-abilities .space .section-2 .box .progress {
    min-width: 100%;
    height: 8px;
    width: 300px;
    background: rgba(196, 196, 196, 0.24);
    border-radius: 100px;
  }

  //section presentation
  .wrapper {
    margin: 1.25rem;
    min-height: 100%;

    .wrap-presentation {
      margin-right: 0;
      margin-left: 0;

      .section-1 {
        .section-info {
          .title {
            .span {
              font-size: 2.5rem;
            }
          }
        }
      }

      .section-2 {
        display: none;
      }
    }

    .swipe-down {
      display: none;
    }
  }
  //end section presentation

  //section about.interface.ts
  .wrapper-about {
    margin: 20px;

    .wrap-about {
      margin-right: 0;
      margin-left: 0;
      margin-top: 80px;
      display: block;
      align-content: center;

      .section-1 {
        img {
          width: 100%;
        }
      }

      .section-2 {
        margin-left: 0;
      }

    }


  }
  //end about.interface.ts

  // section abilities
  .wrap-abilities {
    margin: 20px;

    .wrapper-abilities {
      .space {
        width: 100%;
      }
    }

    .info {
      span {
        font-weight: 400;
        font-size: 13px;
        color: $color-tx-3;
      }
    }
  }

  //end abilities

  // projects
  .wrapper-projects {
    .content-project {
      .section {
        .row {
          margin-right: 0;
        }
      }
    }
  }

  .certificate_background {
    padding: 20px 5px;
    position: relative;
  }
  .certificate {
    padding: 60px 10px 10px;
  }
}


//mobile pixel 2
@media (max-width: 411px) {

  .wrapper .wrap-presentation .section-1 .btn-portafolio {
    justify-content: center;
    display: flex;
  }

  .wrapper .wrap-presentation .section-1 .section-info .title .span {
    line-height: 47px;
  }
  .wrapper .wrap-presentation .section-1 .section-info .title {
    min-height: 100px;
  }
  //projects
  .wrapper-projects .heading {
    .label {
      display: inline;
    }

    .section {
      display: none;
    }
  }

  //end project
  //service
  .service {
    .service__item {
      .row {
        .col-12, .col-sm-12, .col-md-6, .col-lg-3 {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
  }
  //certificate
  .certificate_background {
    padding: 20px 10px;
    position: relative;
  }
  .certificate {
    padding: 60px 10px 10px;
  }
  .crf__item__box {
    margin-right: 0;
  }
  .crf__item__box .crf__logo__emp {
    margin-right: 10px;
  }
  .crf__item__box .emp_info .name__emp {
    font-size: 15px;
  }
  .crf__item__box .crf__logo__emp img {
    width: 60px;
    height: 60px;
  }
  //end certificate

}

// mobile Galaxy Fold
@media (max-width: 280px) {
  //section presentation
  .btn-portafolio {
    width: 100%;

    a {
      padding: .9rem;
    }
  }
  //end presentation
}

.links ul li a {
  cursor: pointer;
}
