<div class="editor w-full h-full flex flex-column">
  <section class="header-editor flex align-items-center justify-content-between text-xs">
    <div class="flex align-items-center gap-3">
      <span class="px-1 flex justify-content-center">
        <i class="pi pi-bolt text-blue-500"></i>
      </span>
      <div class="flex align-items-center gap-2">
        @if (settings.view.lg) {
          @for (item of editor.heder.tolbarEsp; track item) {
            <span>{{ item }}</span>
          }
        }
      </div>
    </div>
    <div>{{ editor.titleEsp }}</div>
    <div class="flex align-items-center gap-3">
      @for (item of editor.heder.options; track item) {
        <i class="{{item}} text-xxs"></i>
      }
    </div>
  </section>
  <section class="body-editor flex flex-1">
    <!-- Sidebar -->
    @if (!settings.view.sm) {
      <div class="w-3rem flex flex-column border-right-1">
        <span class="flex flex-1 flex-column py-2 px-3 gap-3">
          @for (item of editor.body.sidebar; track item) {
            <i [class]="item"></i>
          }
        </span>
        <span class=" py-2 px-3 gap-3">
          <i class="pi pi-cog"></i>
        </span>
      </div>
    }

    <!-- Files -->
    @if (!settings.view.sm) {
      <div class="w-12rem p-2 flex flex-column border-right-1">
        <div class="flex align-items-center justify-content-between">
          <span class="font-semibold text-xs">{{ editor.titleEsp }}</span>
          <i class="pi pi-ellipsis-h text-xxs"></i>
        </div>
        <div class="flex flex-column gap-2 mt-3 text-sm font-light">
          <span class="flex align-items-center gap-1"><i class="pi pi-folder text-xs"></i> controllers</span>
          <span class="flex align-items-center gap-1"><i class="pi pi-folder text-xs"></i> models</span>
          <span class="flex align-items-center gap-1"><i class="pi pi-folder text-xs"></i> services</span>
          <span class="flex align-items-center text-xs text-primary gap-1">
            <i class="pi pi-code text-xs"></i> HolaMundo.java
          </span>
        </div>
      </div>
    }

    <!-- Content -->
    <div class="w-full flex flex-column">
      <!-- Editor -->
      <div class="border-bottom-1 flex flex-1 flex-column p-2">
        <div class="mb-2">
          <p-chip label="HolaMundo.java" [removable]="true" disabled="true" styleClass="text-xs"/>
        </div>
        <div class="p-1 text-sm font-source-code-pro flex flex-column gap-2">
          <span class="text-blue-400 mb-2 flex-1"><span class="text-primary-400">package</span> holamundo;</span>
          <span class="text-400">// {{ '@author YeferFrank' }}</span>
          <span class="text-primary-400">{{ 'public class ' }} <span class="text-yellow-400">HolaMundo</span> <span
            class="text-color">{{ ' {' }}</span></span>
          <span class="ml-3 flex flex-column gap-2">
            <div class="d-flex">
              <span class="text-primary">{{ 'public static' }}</span>
              <span>{{ ' void ' }}</span>
              <span class="text-blue-400">main(<span class="text-color">String[]</span> args) <span
                class="text-color">{{ '{' }}</span></span>
            </div>
            <div class="ml-3 flex flex-column gap-2">
              @if (spinnerLoading) {
                <i class="pi pi-spin pi-spinner"></i>
              }
              <span class="text-300 comentario-code"></span>
              <span class="text-300 comentario-code-2"></span>
              <span class="text-300 comentario-code-3"></span>
            </div>
            <span>{{ '}' }}</span>
          </span>
          <span>{{ '}' }}</span>
        </div>
      </div>
      <!-- Terminal -->
      <div class="flex flex-column p-2">
        <div class="flex align-items-center justify-content-between">
          <div class="flex align-items-center gap-2">
            <span class="text-xs text-color border-bottom-1 border-primary-500">Terminal</span>
            <span class="text-xs">Output</span>
          </div>
          <i class="pi pi-times text-xxs"></i>
        </div>
        <div class="terminal-body-content">
          <p class="flex align-items-center gap-2 font-source-code-pro text-sm">
            <span class="text-green-400">{{ 'yefer@terminal' }}</span>
            <span class="text-gray-400">~</span>
            <span class="text-blue-400">$</span>
          </p>

          <div
            class="flex flex-column font-normal text-sm text-color-secondary line-height-2 font-monospace text-balancer">
            <span class="fade-in">{{ this.dataWriters[3]?.mss }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
