
.editor {
  border: 1px solid var(--surface-100);
  border-radius: 5px;
  color: var(--surface-500);
}

.header-editor {
  border-bottom: 1px solid var(--surface-100);
  padding: 7px 10px;
}

.border-right-1 {
  border-right: 1px solid var(--surface-100);
}

.border-bottom-1 {
  border-bottom: 1px solid var(--surface-100);
}
