<!--<h2 class="text-center font-bold m-0 text-5xl md:text-6xl">Mi Portafolio</h2>-->
<!--<p class="text-center">Trabajos y proyectos</p>-->

<p class="m-0 p-0">Mis Trabajos</p>
<h2 class="font-bold pt-0 mt-0 text-5xl md:text-6xl">Y Proyectos</h2>

<div>
  <ul class="galeria-proyectos">
    @for(i of proyectos; track i) {
      <li class="relative sub-item-galeria">
        <img [src]="i" alt="Imagen 1">
        <div class="flex flex-column absolute bottom-0 bg-blur p-3 w-full border-round-2xl border-noround-top	gap-2">
         <div class="flex justify-content-between text-white ">
           <div class="flex flex-1 flex-column gap-1">
             <span class="font-semibold text-sm">Prototipo App, covit - 19</span>
             <span class="text-xs">Domingo, 21 de febrero 2021</span>
           </div>
           <div class="flex justify-content-center align-items-center">
             <p-button  icon="pi pi-palette" [rounded]="true" [text]="true" severity="contrast" styleClass="text-white"></p-button>
             <p-button  icon="pi pi-github" [rounded]="true" [text]="true" severity="contrast" styleClass="text-white"></p-button>
           </div>
         </div>
        </div>
        <div class="absolute p-2 top-0 right-0 content-btn-demo">
          <p-button  icon="pi pi-play-circle" label="Ver Demo" size="small"  severity="contrast" [rounded]="true"></p-button>
        </div>
      </li>
    }
  </ul>
</div>

