<p-menu #menu [model]="itemsOptions" [popup]="true" appendTo="body"></p-menu>

<h2 class="text-center font-bold m-0 text-5xl md:text-6xl">Mi Portafolio</h2>
<p class="text-center">Trabajos y proyectos</p>

<div>
  <ul class="galeria-proyectos">
    @for(i of proyectos; track i) {
      <li class="relative sub-item-galeria">
        <img [src]="i" alt="Imagen 1">
        <div class="flex flex-column absolute bottom-0 bg-blur p-3 w-full border-round-2xl border-noround-top	gap-2">
         <div class="flex justify-content-between text-white ">
           <div class="flex flex-1 flex-column gap-1">
             <span class="font-semibold text-sm">Prototipo App, covit - 19</span>
             <span class="text-xs">Domingo, 21 de febrero 2021</span>
           </div>
           <div class="flex justify-content-center align-items-center">
             <p-button  icon="pi pi-palette" [rounded]="true" [text]="true" size="small" severity="contrast" styleClass="text-white"></p-button>
             <p-button  icon="pi pi-github" [rounded]="true" [text]="true" size="small" severity="contrast" styleClass="text-white"></p-button>
           </div>
         </div>
        </div>
        <div class="absolute p-2 top-0 right-0 content-btn-demo">
          <p-button  icon="pi pi-play-circle" label="Ver Demo" size="small"  severity="contrast" [rounded]="true"></p-button>
        </div>
      </li>
    }
  </ul>
</div>

<!--
<div class="wrapper">
  <div class="grid">
    @for(i of project; track i.fecha) {
      <div class="col-12 md:col-6 lg:col-4">
        <div class="item-p">
          <div class="img">
            <div class="recurs">
              <ul *ngFor="let i of i.recurso">
                <li><img [src]="i.logo" alt="" class="w-full"></li>
              </ul>
            </div>
            <img [src]="i.portada" alt="" class="w-full">
          </div>
          <div class="section-info">
            <div class="item-info">
              <div class="title">{{ i.titulo }}</div>
              <div class="description"> {{ i.fecha }}</div>
            </div>
            <div class="icons">
              <a [href]="i.url" target="_blank" *ngFor="let i of i.link">
                <span [innerHTML]="i.icono"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
-->
