@mixin terminal {
  border-radius: 10px;
  overflow: auto;
  padding: 1.25rem;
}

.terminal-dark {
  background: #282936;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #3e4053;
  @include terminal;
  transition: all 0.2s ease-in-out;
}


.terminal-light {
  background: #ffffff;
  color: #043d75;
  border: 1px solid #dfe7ef;
  padding: 1.25rem;
  @include terminal;
  transition: all 0.2s ease-in-out;
}
