<footer class="surface-section py-8 mt-4">
  <div class="container mx-auto flex flex-column align-items-center justify-content-between gap-4 md:flex-row">
    <div class="flex flex-column gap-2 md:items-start">
      <div class="flex gap-2 align-items-center justify-content-center lg:justify-content-start">
        <!--<svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path d="m8 3 4 8 5-5 5 15H2L8 3z"></path>
        </svg>-->
        <img src="assets/icon.svg" alt="logo" class="w-2rem">
        <span class="text-lg font-semibold">Frank Huansha</span>
      </div>
      <div class="text-sm text-gray-500 text-balancer">Egresado de la carrera de Ingeniero de Sistemas.</div>
    </div>
    <nav class="flex flex-wrap justify-content-center gap-4 text-sm">
      <app-red-social></app-red-social>
    </nav>
  </div>
</footer>
