<p-toast key="fh-toast" autoZIndex="true" position="bottom-center" />

<!-- Loader -->
<div *ngIf="settings.isLoading || fadeOut" class="container-loader" [class.fade-out]="fadeOut">
  <img *ngIf="(currentTheme$ | async)?.logoIcon" 
       [src]="(currentTheme$ | async)?.logoIcon" 
       class="loader-icon" 
       width="80" 
       height="80" 
       alt="loading">
  <div class="text-loader2 ml-3 font-bold"></div>
  <i class="pi pi-spin pi-spinner-dotted text-300" style="font-size: 1rem;"></i>
</div>

<!-- Main -->
<div *ngIf="!settings.isLoading" class="flex h-full lg:h-screen main-content">
  <app-nav-main></app-nav-main>
  <div class="mt-7 flex-1">
    <router-outlet></router-outlet>
  </div>
</div>
