<form [formGroup]="formContactame" (ngSubmit)="enviar()">
    <div class="formgrid">
        <div class="field col-12">
            <label for="nombre">
                Nombre
                @if (formContactame.get('nombre')?.errors?.required) {
                (*)
                }
            </label>
            <input type="text" pInputText id="nombre" formControlName="nombre" class="w-full" />
        </div>
        <div class="field col-12">
            <label for="correo">
                Correo electrónico
                @if (formContactame.get('correo')?.errors?.required) {
                (*)
                }
            </label>
            <input type="email" pInputText id="correo" formControlName="correo" class="w-full" />
            @if (
            formContactame.get('correo')?.invalid && (formContactame.get('correo')?.touched ||
            formContactame.get('correo')?.dirty) &&
            formContactame.get('correo')?.errors?.invalidEmail) {
            <small class="p-error">El correo no es válido.</small>
            }
        </div>
        <div class="field col-12">
            <label for="mensaje">
                Mensaje
                @if (formContactame.get('mensaje')?.errors?.required) {
                (*)
                }
            </label>
            <textarea id="mensaje" rows="5" formControlName="mensaje" pInputTextarea class="w-full"
                [maxlength]="maxlengthMessage"></textarea>
            <div class="w-full text-right">
                <small>{{ formContactame.get('mensaje')?.value.length }} / {{maxlengthMessage}}</small>
            </div>
        </div>
        <div class="col-12">
            <div class="flex justify-content-end">
                <button type="submit" pButton pRipple label="Enviar"  size="small"
                    [disabled]="spinnerSendEmail"
                    [icon]="'pi ' + (spinnerSendEmail ? 'pi-spin pi-spinner' : 'pi-send')">
                </button>
            </div>
        </div>
    </div>
</form>