<p class="m-0 p-0 text-center">Listado de mis</p>
<h2 class="font-bold pt-0 mt-0 text-5xl md:text-6xl text-center">Certificados </h2>

<p-table [value]="certificados"
         [paginator]="true"
         [rows]="5"
         dataKey="correlativo_id"
         styleClass="p-datatable-sm p-datatable-gridlines">
  <ng-template pTemplate="header">
    <tr>
      @if (settings.view.lg) {
        <th scope="col" class="grid-width-xs text-center">Id</th>
        <th scope="col">Tema</th>
        <th scope="col" class="grid-width-lg text-center">Organización</th>
        <th scope="col" class="grid-width-md text-center">Fecha Obtenida</th>
        <th scope="col" class="grid-width-xs"></th>
      } @else {
        <th scope="col">Certificados</th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-expanded="expanded">
    <tr>
      <td colspan="5">
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="item"
          class="p-button-text p-button-rounded p-button-plain mr-2"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
        </button>
        <p-avatar
          icon="pi pi-book"
          styleClass="mr-2"
          shape="circle" />
        <span class="ml-2">{{item.titulo}}</span>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-list>
    @for (item of list.verCertificados; track item.correlativo) {
      <tr>
         <td class="text-center">{{item.correlativo}}</td>
         <td>
           <span class="ml-1 vertical-align-middle">{{item.nameTec}}</span>
         </td>
         <td>{{item.organizacionEmisora}}</td>
         <td class="text-center">
           {{item.fechaFinCertificado ?? 'En proceso'}}
         </td>
         <td>
           @if (item.rutaArchivo) {
             <div class="flex justify-content-center">
               <button pButton icon="pi pi-window-maximize"
                       severity="contrast"
                       size="small"
                       [text]="true"
                       (click)="verCertificado(item.rutaArchivo, list.titulo + ': ' + item.nameTec)"
                       class="p-button-rounded button-rounded-sm-2">

               </button>
             </div>
           }
         </td>
      </tr>
    }
  </ng-template>
</p-table>
