<p-table [value]="certificados"
         [paginator]="true"
         [rows]="5"
         dataKey="correlativo_id"
         styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" colspan="5">
        <p class="m-0 p-0 text-center font-normal">Listado de mis</p>
        <h2 class="font-bold m-0 p-0 text-5xl md:text-6xl text-center">Certificados </h2>
      </th>
    </tr>
    @if (false) {
      <tr>
        <th scope="col" class="grid-width-xs text-center">Id</th>
        <th scope="col">Tema</th>
        <th scope="col" class="grid-width-lg text-center">Organización</th>
        <th scope="col" class="grid-width-md text-center">Fecha Obtenida</th>
        <th scope="col" class="grid-width-xs"></th>
      </tr>
    }
  </ng-template>
  <ng-template pTemplate="body" let-item let-expanded="expanded">
    <tr>
      <td colspan="5">
        <div class="flex align-items-center gap-1">
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="item"
            class="p-button-text p-button-rounded p-button-plain mr-2"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
          </button>
          <span>{{ item.titulo }}</span>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-list>
    @for (item of list.relatedItems; track item.correlativo) {
      <tr>
        @if (settings.view.lg) {
          <td class="text-center">{{ item.correlativo }}</td>
          <td>
            <span class="ml-1">{{ item.nameTec }}</span>
          </td>
        }
        <td>
          @if (!settings.view.lg) {
            <p class="m-0 p-0 mb-2 text-sm text-400">
              {{ item.nameTec }} ({{ item.fechaFinCertificado ?? 'En proceso' }})
            </p>
          }
          {{ item.organizacionEmisora }}
        </td>
        @if (settings.view.lg) {
          <td class="text-center">
            {{ item.fechaFinCertificado ?? 'En proceso' }}
          </td>
        }
        <td>
          @if (item.rutaArchivo) {
            <div class="flex justify-content-center">
              <button pButton icon="pi pi-window-maximize"
                      severity="contrast"
                      size="small"
                      [text]="true"
                      (click)="verCertificado(item.rutaArchivo, list.titulo + ': ' + item.nameTec)"
                      class="p-button-rounded button-rounded-sm-2">

              </button>
            </div>
          }
        </td>
      </tr>
    }
  </ng-template>
</p-table>
