<!-- Section presentation -->
<div class="hero-background">
  <div class="container px-3 lg:px-0 flex-1 h-auto lg:h-full">
    <app-presentacion [data]="data?.home"></app-presentacion>
  </div>
</div>


<!--Sobre Mi-->
<section class="py-6 px-4 lg:px-0">
  <app-sobre-mi></app-sobre-mi>
</section>

<!--Mis habilidades-->
<section class="section-alt-bg py-6 px-3 lg:px-0">
  <div class="skills-container">
    <app-habilidades></app-habilidades>
  </div>
</section>

<!--Proyectos-->
<section class="py-6">
  <app-proyectos></app-proyectos>
</section>

<!--Experiencia y Educación-->
<section class="section-alt-bg">
  <app-experiencia></app-experiencia>
</section>

<!--Blog-->
<section>
  <app-blog-section></app-blog-section>
</section>

<section>
  <app-footer></app-footer>
</section>
