<div class="container">

  <div class="wrapper">
    <div class="section-1">
      <div class="g-title">
        Aquí mi <br/> <b>resumen...</b>
      </div>
      <div class="cont-education">
        <div class="sub-title">
          [ Educación ]
        </div>
        <div class="box" *ngFor=" let item of  [1,1,1]" >
          <div class="bar-circle">
            <div class="bar"></div>
            <div class="circle"></div>
          </div>
          <div class="cont-item">
            <p>[ primaria ]: Colegio María Auxiliadora, Carhuaz.</p>
            <div class="fecha-item">
              Septiembre 2004 - Diciembre 2009
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-2">
      <img src="https://res.cloudinary.com/yfr/image/upload/v1614959922/portafolio/static/img-2_qulz8c.svg" alt="img">
    </div>
  </div>

</div>
