/*@import "primeng/resources/themes/lara-light-purple/theme.css";*/
//@import "primeng/resources/themes/soho-light/theme.css";
@import "primeng/resources/themes/aura-light-blue/theme.css";
//@import "primeng/resources/themes/aura-light-purple/theme.css";
