.nav-main {
  //border-bottom: 1px solid var(--surface-border);
  //background-color: var(--surface-0);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - var(--scrollbar-width, 0px));
  z-index: 1100;
  transition: background-color .5s, border-color .5s;
  //border-bottom: 1px solid transparent;
}

@mixin font-base-items {
  a {
    margin: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    color: var(--text-color);

    &:hover {
      color: var(--primary-color);
      font-weight: 400;
    }
  }
}

nav {
  width: 100%;
  padding: 10px 0;
  align-items: center;
  margin: auto;

  .space {
    flex: 1;
  }

  .menu {
    font-size: 18px;
    //color: $color-tx-1;
    display: none;
    background: transparent;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;

    .check {
      display: flex;
      margin: auto;

      i {
        vertical-align: middle;
      }
    }
  }

  .section-2 {
    display: flex;
    float: right;
    align-items: center;
    .items {
      display: flex;
      align-items: center;

      .activo {
        color: var(--primary-color);
      }

      @include font-base-items;
    }
  }

}

.items-menu-sidebar {
  .items {
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
    padding: 15px 0;
    border-bottom: 1px solid var(--highlight-bg);
  }
}
