<div class="border shadow-3">
  <nav class="container flex align-items-center flex-wrap animate__animated animate__slideInDown">
    <div class="section-1 ">
      <div class="logo">
        <!--<img routerLink="" src="assets/icon-logo-web_dark.svg" alt="logo">-->
        <b class="text-primary">yefer<span class="text-900">Frank();</span></b>
      </div>
    </div>
    <div class="space"></div>
    <div class="menu">
        <p-button (click)="mostarOcultar()" [icon]="'pi pi-align-center'" [rounded]="true" [text]="true"></p-button>
    </div>
    <div class="section-2"
         [ngClass]="{noactive:!active, active:active}" >
      <div class="items">
        <!--
        <a href="" routerLinkActive="activo">{{ 'menu.home' | translate }}</a>
        <a href="#about" routerLinkActive="activo">{{ 'menu.about' | translate }}</a>
        -->
        <a href="#projects" routerLinkActive="activo">{{ 'menu.projects' | translate }}</a>
        <a href="#services" routerLinkActive="activo">{{ 'menu.services' | translate }}</a>
        <a routerLink="/resume" routerLinkActive="activo">{{ 'menu.resume' | translate }}</a>
        <a routerLink="/contact" routerLinkActive="activo">{{ 'menu.contact' | translate }}</a>
        <a routerLink="/git-hub" routerLinkActive="activo">{{ 'menu.repository' | translate }}</a>
        <a>
          <p-dropdown [options]="optIdioma"
                      [(ngModel)]="idioma"
                      optionValue="code" (onChange)="selectIdioma()"
                      class="p-inputtext-sm"
                      optionLabel="name">
          </p-dropdown>
        </a>
        <a>
         <!-- <p-button (onClick)="checkedTheme = !checkedTheme; onThemeChange()"
                    [icon]="checkedTheme ? 'pi pi-sun' : 'pi pi-moon'" [text]="true"/>-->
          <p-button (click)="onThemeChange()" [icon]="checkedTheme ? 'pi pi-sun' : 'pi pi-moon'" [text]="true"></p-button>
        </a>
        <a title="{{ 'menu.downloadCode' | translate }}" href="https://github.com/Huansha13/portafolio.git" target="_blank">
          <i class="uil uil-code-branch"></i> V. {{version}}
        </a>
      </div>
    </div>
  </nav>
</div>
