.text-logo {
  font-family: "Fira Code", monospace;
}

:root {
  --animate-delay: 2s;
}

.border {
  // opacity: 0;
  background: var(--primary-color-text);
  margin-bottom: 30px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

nav {
  width: 100%;
  padding: 10px 0;
  //display: flex;
  align-items: center;
  //max-width: 1140px;
  margin: auto;

  .section-1 {
    .logo {

      img {
        outline: none;
        cursor: pointer;
      }
    }

  }

  .space {
    flex: 1;
  }

  .menu {
    font-size: 18px;
    //color: $color-tx-1;
    display: none;
    background: transparent;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;

    .check {
      display: flex;
      margin: auto;

      i {
        vertical-align: middle;
      }
    }
  }

  .section-2 {
    display: flex;
    float: right;
    align-items: center;

    .items {
      display: flex;
      align-items: center;

      .activo {
        color: var(--primary-color);
      }

      a {
        margin: 5px 10px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        color: var(--text-color);

        &:hover {
          color: var(--primary-color);
          font-weight: 400;
        }
      }
    }

  }


  #check:checked ~ .section-2 {
    left: 0;
  }
}

// mobile iPad
@media (max-width: 768px) {

  nav {
    padding: 15px 20px 15px;

    .menu {
      display: block;
      transition: 0.3s margin ease-in-out;
    }

    .section-2 {
      transition: all .4s ease-out;
      background: rgba(255, 255, 255, 0.03);
      flex-direction: row;
      margin-top: 15px;
      width: 100%;
      display: none;

      .items {
        flex-direction: column;

        a {
          margin-top: 9px;
          margin-bottom: 9px;
        }
      }
    }

    .noactive {
      display: inline;

    }

    .active {
      display: none;
    }
  }

}

//mobile Moto G4
@media (max-width: 360px) {

  nav {
    .section-2 {
      flex-direction: column;

      .wsp {
        margin-top: 20px;
        justify-content: center;
      }
    }
  }

}

//animations

#state {
  width: 100%;
  font-size: 1rem;
  color: #333; // Cambia esto al color de texto deseado
  padding: 0.5rem 1rem;
  border: 1px solid #ccc; // Cambia esto al color del borde deseado
  border-radius: 0.25rem !important;
  outline: none;
  appearance: none;
  background-color: white; // Cambia esto al color de fondo deseado

  &:hover,
  &:focus {
    border-color: #007bff; // Cambia esto al color de borde al enfocar/hover deseado
  }

  // Estilo para las opciones
  option {
    font-size: 1rem;
    color: #333; // Cambia esto al color de texto de las opciones deseado
  }
}

