.blog-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: transparent;
  border-bottom: 1px solid var(--surface-border);
  backdrop-filter: blur(10px);
}

.header-container {
  max-width: 1179px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 600;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease;

  i {
    font-size: 1.25rem;
  }

  &:hover {
    color: var(--primary-color);
  }
}

.nav-links {
  display: flex;
  align-items: center;
}



::ng-deep .active-lang {
  .p-menuitem-text {
    color: var(--primary-color) !important;
  }
}
