<div class="container">
  <div class="grid m-0 p-0">
    <div class="pl-2 pr-2 sm:w-full lg:w-21rem">
      <div class="profile-header">
        <img [src]="perfil?.avatar_url" alt="Avatar" class="w-full border-round-sm">
        <div class="border-1 border-white-alpha-10 border-round-sm mt-1 p-2 flex align-items-center">
          <small class="text-white-alpha-70">🏠 {{ 'gitHub.statusWork' | translate }} - {{ perfil?.location }}</small>
        </div>
      </div>
      <div class="mt-3">
        <p class="text-white font-bold text-2xl m-0 p-0">{{ perfil?.name }}</p>
        <div class="mb-3 mt-2">
          <a href="https://github.com/Huansha13" target="_blank" class="text-white-alpha-50 text-xl mt-2 mb-2 etiqueta-a-txt hover:text-blue-500">
            <i class="uil uil-external-link-alt"></i> {{ perfil?.login }}
          </a>
        </div>
        <small class="text-white-alpha-70">{{ perfil?.bio }}</small>
      </div>
      <div class="mt-3">
        <small class="text-white mr-3">  <i class="uil uil-book-alt text-white-alpha-50"></i> {{ perfil?.public_repos }} {{ 'gitHub.repository' | translate }}</small>
        <small class="text-white">  <i class="uil uil-users-alt text-white-alpha-50"></i> {{ perfil?.followers }} {{ 'gitHub.follower' | translate }} </small>
      </div>
      <div class="mt-3 mb-3">
        <a href="https://github.com/Huansha13/portafolio.git" target="_blank" class="text-white hover:text-purple-500"><i class="uil uil-code-branch"></i></a>
      </div>
    </div>
    <div class="col">
      <div class="grid">
        <div class="col-md-6 p-1" *ngFor="let repo of listaRepositorio">
          <div class="flex w-full p-3 border-1 border-round-sm border-white-alpha-10 hover:bg-black-alpha-50">
            <a class="w-full text-white-alpha-50 etiqueta-a-txt"
               [href]="repo.html_url" target="_blank">
              <div class="w-full">
                <div class="text-blue-500 text-lg font-bold mb-2">
                  <span class="name capitalize"> {{repo.name}}</span>
                </div>
                <div class="text-sm">
                  {{repo.description}}
                </div>
                <div class="mt-3">
                  <small class="text-white-alpha-80">{{repo.language}}</small>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
